/*
// Created: June 26, 2017 12:25; PM
// Author: Jonathan Gryn
// Revisions: Jon (6/26/17) - added style	
//            Jon (7/3/17) - Add BG image & more style    
*/

body {
  background: url("https://github.com/jongryn/Hangman-Game/blob/master/assets/images/Forest%2008.jpg?raw=true");
  opacity: 1;
  background-position: center;
  background-size: cover;
}
.jumbotron {
  text-align: center;
  color: #395e27;
  background-color: transparent !important;
}
.panel-heading {
  text-align: center;
  color: white;
  background-color: #e5840b;
}
#panelhead {
  text-align: center;
}
#panel {
  color: white;
  background-color: #395e27; */
}
img {
  width: 33%;
  height: 33%;
}